extends layout.pug
//- include carpeta 
block content
    //- - var carpetas = [1,2,3,4,5,6];
    //- ul          
            //- li archivo #{val} 
    
    div#tarjetas(class="tarjetas")    
        each val, index in carpetas              
            a(class="tarjeta" href="archivos"+enlaces[index]) #{index+1} #{val}
        
        div#agregar

    
           
            
            
        //- div#tarjetas(class="tarjetas")    
        //-     each val in [1, 2, 3, 4, 5, 6]
                //- div(class="tarjeta") #{num++} #{val}
                //- div(class="tarjeta") #{num++}
                //- div(class="tarjeta") #{num++}
                //- div(class="tarjeta") #{num++}
                //- div(class="tarjeta") #{num++}
                //- div(class="tarjeta") #{num++}
                //- div(class="tarjeta") #{num++}
                //- div(class="tarjeta") #{num}
                //- h3 #{val}
    //- +archivo
