extends layout.pug
//- include carpeta 
block content
    //- - var carpetas = [1,2,3,4,5,6];
    //- ul          
            //- li archivo #{val} 
    
    div#tarjetas(class="tarjetas")    
        each val, index in carpetas  
            if index == 8
                //- p indice 2
                div
                    p#agregar(class="tarjeta" onclick='agregar(this.id)')
            else                                       
                a(class="tarjeta" href="archivos"+enlaces[index]) 
                    div(contenteditable="true") #{index+1} #{val}
                    //- a(class="tarjeta" href="archivos"+enlaces[index])  #{index+1} #{val}
                //- p otro indice
        
    
    //- script.        
    //-     function agregar(id){
    //-         var padre = document.getElementById("tarjetas");
    //-         var tamanio = padre.childNodes.length-1;
    //-         var nuevaCarpeta = Object.assign(document.createElement('a'), { className: 'tarjeta' });
    //-         nuevaCarpeta.appendChild(document.createTextNode('Nueva carpeta.'));
    //-         padre.insertBefore(nuevaCarpeta, padre.childNodes[tamanio]); 
            //- var tarjeta = '<a class="tarjeta"> Carpeta Nueva </a>';
            //- var arrayTitulos = "#{carpetas.push('Nueva carpeta')}";
            //- arrayTitulos.push("Nueva carpeta");
            //- alert(arrayTitulos);
            
            //- div.innerHMTL = div.innerHMTL + div.childNodes[div.childNodes.length-2];

            //- document.getElementById('tarjetas').insertBefore(tarjeta, div.childNodes.length-2);
            //- var parrafo = document.createElement('a').appendChild(document.createTextNode('Nuevo párrafo.'));
            
            
            //- parrafo.setAttribute("class","tarjeta");
            //- parrafo.class="tarjeta";
            //- parrafo(class="tarjeta")
            //- document.getElementById('tarjetas').appendChild(parrafo);//document.getElementById('tarjetas')
            
            
            //- alert(nuevaCarpeta.getAttribute('class'));
            //- padre.childNodes.length-2
            
        //- };

        //- alert(#{carpetas});

        //- div#tarjetas(class="tarjetas")    
        //-     each val in [1, 2, 3, 4, 5, 6]
                //- div(class="tarjeta") #{num++} #{val}
                //- div(class="tarjeta") #{num++}
                //- div(class="tarjeta") #{num++}
                //- div(class="tarjeta") #{num++}
                //- div(class="tarjeta") #{num++}
                //- div(class="tarjeta") #{num++}
                //- div(class="tarjeta") #{num++}
                //- div(class="tarjeta") #{num}
                //- h3 #{val}
    //- +archivo
