extends layout.pug
block content 
    h1     DOCUMENTOS (#{tamanio})
    
    div.tarjetas2
        each doc, index in documentos                    
            div.tarjeta2Box                
                div.tarjeta2  
                    div(class="cara detras")
                        embed(name="plugin", src="" +doc.url, type="application/pdf")                        
                    div(class="cara")                        
                        h3= "Titulo: " +doc.titulo
                        h4= "Autor: " +doc.autor                        
                        p= "Numero de hojas: " +doc.hojas
                        p= "Descripcion: " + doc.descripcion                        
                        p= "Oficina Destino: " + doc.oficina
                        p= "Fecha de recepción: " + doc.f_recepcion
                        p= "Fecha en el documento: " + doc.f_doc
                        p= "Fecha en el remisión: " + doc.f_remision     
                        
    //- form.buscador(action="" method="get")                    
    //-     div
    //-         input.campoBuscar(name="buscarPalabra" placeholder=" Escriba algo...")                    
    //-     div
    //-         input(class="buscar" type="submit" value="Buscar")                    

    
                        //- p= "Estado: " + doc.estado
                        //- p= "Ultima modificicación: " + doc.createdAt 

                        //- src="/documentos/logistica/2022/octubre/SistemaGestionCalidadSalud.pdf"
                        //- img(src="/img/diresa.png", alt="")