extends layout.pug
block content 
    div.tarjetas2
        each doc, index in documentos        
            div.tarjeta2                
                //- p=index+1   
                div.pdf
                    <embed name="plugin" src="https://repository.javeriana.edu.co/bitstream/handle/10554/38801/Paula%20Fernanda%20Olaya%20Garc%C3%ADa.pdf?sequence=1&isAllowed=y" type="application/pdf">
                    //- img(src="/img/diresa.png", alt="")
                div.datos
                    h3= "Titulo: " + doc.titulo
                    h4= "Autor: " +doc.autor
                    p= "Fecha de recepción: " + doc.f_recepcion
                    p= "Fecha en el documento: " + doc.f_doc
                    p= "Fecha en el remisión: " + doc.f_remision
                    p= "Numero de hojas: " +doc.hojas
                    p= "Descripcion: " + doc.descripcion
                    p= "Destino: " + doc.destino
                    p= "Estado: " + doc.estado
                    p= "Ultima modificicación: " + doc.modificacion
    

    //- div.tarjetas2
    //-     each doc, index in documentos        
    //-         div.tarjeta2
    //-             p=index+1     
    //-             img(src="/img/diresa.png", alt="")
    //-             div 
    //-                 h3= "Titulo: " + doc.titulo
    //-                 h4= "Autor: " +doc.autor
    //-                 p= "Fecha de recepción: " + doc.f_recepcion
    //-                 p= "Fecha en el documento: " + doc.f_doc
    //-                 p= "Fecha en el remisión: " + doc.f_remision
    //-                 p= "Numero de hojas: " +doc.hojas
    //-                 p= "Descripcion: " + doc.descripcion
    //-                 p= "Destino: " + doc.destino
    //-                 p= "Estado: " + doc.estado
    //-                 p= "Ultima modificicación: " + doc.modificacion

    //- p recientes #{documentos}